.row-header {
    margin:0px auto;
    padding: 0px auto;
}

.row-header h1 {
    font-size: 300%;
    text-align: left;
    font-weight: bold;
    padding-top: 10%;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
    text-align: center;
}

.row-content p {
    color:rgba(1, 2, 13, 0.929)
}

header{
    background: rgba(45, 96, 226, 0.5);
    text-align: left;
    padding: 20%;
}

p{
    color: rgb(12, 12, 12, 0.4);
}



.footer{
    background: rgba(128, 96, 184, 0.5);
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
    clear: both;
    background: -moz-linear-gradient(top,rgba(128, 96, 184, 0.4));
    background: -webkit-linear-gradient(rgba(128, 96, 184, 0.4), #07e0d9);
}

footer a{
    color: rgb(209, 46, 5);
    padding: 5%;
}

footer i{
    color: #2421cd;
}


figure{
    float: left;
    background-color: azure;
    height:100px;
	clear: both;
}

table{
    background-color: aliceblue;
}

section{
    background-color: aliceblue;
    overflow: scroll;
}

.jumbotron {
    padding: 80px 40px 80px 40px;
    margin: 0px auto;
    background: -moz-linear-gradient(top, #d6eef4 0%, rgba(8, 201, 235, 0.5) 100%);
    color: floralwhite;
}

.address {
    font-size: 90%;
    margin: 0px;
    color:#335136
}

body{
	background:#faf7f7;
    background: -moz-linear-gradient(top, #f2e3e3 0%, #ddf0f6 100%);
	background: -webkit-linear-gradient(#e1dada 0%, #b8e6f2 100%);
	background: -o-linear-gradient(#e6d5d5 0%, #caccd7 100%);
	background: linear-gradient(#e2dada 0%, #d6eef4 100%); 
	margin:2%;
    padding: 30px 0px 0px 0px;
    z-index: 0;
}

.navbar-dark {
    background-color: rgba(80, 92, 197, 0.4);
    background: -moz-linear-gradient(top, #c08c8c 0%, #1b3138 100%);
	background: -webkit-linear-gradient(#948686 0%, #b8e6f2 100%);
	background: -o-linear-gradient(#e6d5d5 0%, #3c51ee 100%);
	background: linear-gradient(#666666 0%, #00b7ea 100%); 
}


nav li{
    color:rgba(255,255,255,0.8);
    padding-left: 11px;
}

#nav-brand a{
    color:rgba(255,255,255,0.8);
    font-size: 20px;
    padding: 30px;
    font-weight: bold;
}

ol{
    list-style-type: upper-roman;
}

ul{
    list-style-type: square;
}


a[href$=".Bio"] {
    background: #FFFF00;
}
a[href$=".Michigan"] {
    background: #ed5b17;
}

a[href$=".Davis"] {
    background: #1336d2;
}

a[href$=".Wagon"] {
    background: #3bbbd4;
}

.breadcrumb {
    padding-left: 6%;
    display: inline-block;
}


.pdf_display {
    background-size: cover;
    box-shadow: 0 0 140px 10px rgba(0,0,0,.5);
    position: relative;
    height: 300px;
    width: 500px;
  }

  .tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}